.textbook {
  height: 300px;
  width: 400px;
}

.text {
  text-align: center;
}

.text h1 {
  font-weight: 900;
  letter-spacing: 5px;
}

.secondpanel p {
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 40px;
}

.secondpanel {
  padding-bottom: 125px;
}

@media all and (min-width: 100px) and (max-width: 360px) {
  .textbook {
    width: 220px;
    height: 160px;
  }
}

@media all and (min-width: 360px) and (max-width: 420px) {
  .secondpanel {
    text-align: center;
  }

  .textbook {
    width: 300px;
    height: 250px;
  }

  .text {
    margin: auto;
  }
}

@media all and (min-width: 420px) and (max-width: 800px) {
  .secondpanel {
    text-align: center;
  }

  .textbook {
    width: 350px;
    height: 280px;
  }

  .text {
    margin: auto;
  }
}