.contact h1 {
  padding-top: 70px;
  font-size: 35px;
}

.contactp {
  padding-top: 30px;
}

.emailp {
  font-weight: bold;
}

form {
  padding-top: 30px;
}

fieldset {
  margin: 20px 250px 20px 250px;
}

.linkcontactholder {
  padding-top: 100px;
}