.links {
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  margin: 0 -15px;
}

.gitHub {
  height: 30px;
  width: 30px;
}

.linkedIn {
  height: 30px;
  width: 30px;
}

.gitHubLink, .linkedInLink {
  flex-direction: row;
  margin: 0 -15px;
}