.home p {
  margin-top: 30px;
  text-align: center;
  line-height: 29px;
  padding-bottom: 45px;
}

.textbox {
  padding-top: 70px;
  margin-left: 360px;
  margin-right: 360px;
  padding-bottom: 20px;
}

.home h1 {
  text-align: center;
  color: #000;
  letter-spacing: 0;
  font-size: 35px;
}

.panels {
  padding-right: 140px;
  padding-left: 140px;
}

@media all and (min-width: 100px) and (max-width: 800px) {
  .textbox {
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
  }
  
  .home {
    text-align: center;
    width: 400px;
  }

  .panels {
    padding-right: 25px;
    padding-left: 25px;
  }
}