.navbar {
  background-color: #000;
  background-image: url('../Images/laptop.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 35% 140%;
  text-align: center;
  padding-top: 15px;
  height: 215px;
  padding-bottom: 100px;
}

.navlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lefthalf {
  font-size: 20px;
  color: #fff;
  margin-left: 15px;
}

.lefthalf p {
  font-weight: bold;
}

.righthalf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}

a {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  margin-right: 8px;
}

a:hover {
  color: #ad2546;
  font-size: 17px;
}

.fontbars {
  margin-top: 10px;
}

.menutext {
  width: 100%;
  top: 350px;
  right: 0;
  background-color: #fff;
  position: fixed;
  height: 100vh;

}

@media all and (min-width: 100px) and (max-width: 359px) {
  .navbar {
    padding-bottom: 110px;
    background-size: 60% 110%;
  }

  .lefthalf {
    font-size: 12px;
    margin-left: 10px;
  }

  .link {
    font-size: 12px;
  }

  #contact {
    border-style: solid;
    border-color: #fff;
    padding: 5px;
  }
}

@media all and (min-width: 360px) and (max-width: 420px) {
  .navbar {
    padding-bottom: 140px;
    background-size: 45% 118%;
  }

  a {
    font-size: 12px;
  }

  .lefthalf {
    font-size: 13px;
    margin-left: 15px;
  }

  .righthalf {
    display: flex;
    margin: 0;
  }
}

@media all and (min-width: 421px) and (max-width: 800px) {
  .righthalf {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
  }
}

/* @media all and (min-width: 100px) and (max-width: 360px) {
  .righthalf {
    display: flex;
    justify-content: flex-start;
  }

  .alllinks {
    display: flex;
    justify-content: flex-start;
  }

  .navbar {
    padding-bottom: 100px;
  }
} */