.navbar {
  background-color: lightgoldenrodyellow;

  text-align: center;
  padding: 30px;
  
}

.navlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.lefthalf {
}

.righthalf {
  flex-direction: row;
}