.navbar {
  background-color: #000;
  background-image: url('../Images/laptop.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 35% 140%;
  text-align: center;
  padding: 30px;  
  padding-top: 0;
  height: 215px;
  padding-bottom: 100px;
}

.navlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lefthalf {
  font-size: 20px;
  color: #fff;
}

.lefthalf p {
  font-weight: bold;
}

.righthalf {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}

.alllinks {
  display: flex;
  justify-content: space-around;
}

a {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding-right: 20px;
  padding-left: 20px;
}

#contact {
  border-style: solid;
  border-color: #fff; 
}

.centeredtext {
  padding-top: 20px;
  font-size: 30px;
  color: #fff;
}


@media all and (min-width: 100px) and (max-width: 800px) {
  .navbar {
    padding-bottom: 110px;
    background-size: 25% 110%;
  }

  .lefthalf {
    font-size: 15px;
    margin-left: -10px;
  }

  .righthalf {
    font-size: 12px;
    margin: 2px;
    justify-content: flex-end;
  }

  #contact {
    border-style: solid;
    border-color: #fff;
    margin: 5px 15px 5px 15px;
  }
}
