.firstpanel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 85px;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.text {
  text-align: center;
  align-self: center;
}

.vscode {
  height: 300px;
  width: 400px;
  padding-left: 15px;
  padding-right: 15px;
}

.text h1 {
  color: lightgrey;
  font-size: 20px;
  letter-spacing: 4px;
}

.firstpanel p {
  padding-right: 50px;
  padding-left: 50px;
}

@media all and (min-width: 100px) and (max-width: 800px) {
  .firstpanel {
    width: 400px;
    display: block;
  }

  .vscode {
    width: 200px;
    height: 100px;
  }

  .container {
    display: block;
  }

  .text {
    margin: auto;
  }
}