.firstpanel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 85px;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.text {
  text-align: center;
  align-self: center;
}

.vscode {
  height: 300px;
  width: 400px;
  padding-left: auto;
  padding-right: auto;
}

.text h1 {
  color: lightgrey;
  font-size: 20px;
  letter-spacing: 4px;
}

.firstpanel p {
  padding-right: 50px;
  padding-left: 50px;
}

@media all and (min-width: 100px) and (max-width: 360px) {

  .firstpanel {
    display: block;
    text-align: center;
  }

  .vscode {
    width: 220px;
    height: 160px;
    text-align: center;
  }


  .container {
    display: block;
    text-align: center;
  }

  .image {
    text-align: center;
  }

  .text {
    margin: auto;
  }
}

@media all and (min-width: 360px) and (max-width: 420px) {
  .firstpanel {
    display: block;
    text-align: center;
  }

  .container {
    display: block;
  }

  .text {
    margin: auto;
  }

  .vscode {
    width: 310px;
    height: 250px;
  }
}

@media all and (min-width: 420px) and (max-width: 800px) {
  .firstpanel {
    display: block;
  }

  .container {
    display: block;
  }

  .text {
    margin: auto;
  }

  .vscode {
    width: 350px;
    height: 280px;
  }
}