.firstpanel {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-evenly;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.vscode {
  height: 300px;
  width: 400px;
}

h1 {
  color: lightgrey;
}