.projects h1 {
  padding-top: 70px;
  font-size: 35px;
}

.projects p {
  margin-left: 360px;
  margin-right: 360px;
  line-height: 29px;
  padding-top: 30px;

}

.projects a {
  color: #000;
  text-decoration: underline;
}

#projectimg {
  width: 775px;
  height: 403px;
  margin: 10px;
}

p.projectdetail {
  margin-left: 200px;
  margin-right: 200px;
}

.projects h2 {
  text-decoration: underline;
}

.linksholder {
  padding-top: 100px;
}

@media all and (min-width: 100px) and (max-width: 800px) {
  .projects p {
    margin-left: 15px;
    margin-right: 15px;
  }

  #projectimg {
    width: 330px;
    height: 202px;
  }
}

@media all and (min-width: 0px) and (max-width: 320px) {
  #projectimg {
    width: 265px;
    height: 160px;
  }
}